body {
	-webkit-text-size-adjust: 100%;
	background-color: #18012d;
	color: #e6e5e5;
	font-family: sans-serif;
	font-size: 24px;
	max-width: 50em;
	width: 90%;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.6;
}
hr {
	color: #e6e5e5;
}
h1, h2, h3 {
	line-height: 1.2;
}
img {
	/* from the dark reader extension on Art of Problem Solving */
	-webkit-filter: invert(100%) hue-rotate(180deg) contrast(90%) !important;
	filter: invert(100%) hue-rotate(180deg) contrast(90%) !important; 
	max-width: 100%;
}
img.latexcenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 1em 0;
}
img.asy-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 1em 0;
}
a:link {
	color: #ff9bdd;
}
a:visited {
	color: #fff9bd;
}
iframe {
	width: calc(1152 * calc(1em/18));
	height: calc(300 * calc(1em/18));
	max-width: 100%;
}
@media screen and (min-width: 1920px) {
	body {
		font-size: 1.25vw;
	}
}
@media screen and (max-width: 720px) {
	body {
		font-size: 20px;
	}
}
@media screen and (max-width: 400px) {
	body {
		font-size: 18px;
	}
}
/*@media (prefers-color-scheme: light) {
	body {
		background-color: #2d0057;
		color: #f2eaf9;
	}
}*/
